.register-page {
    min-height: calc(100vh - 56px);
    background-image: url(../images/user-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.register-page input {
    margin-bottom: 40px;
}


@media (min-width: 768px) {
    .register-page {
        min-height: 100vh;
    }
}