.user-page {
    min-height: calc(100vh - 56px);
    background-image: url(../images/user-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.user-page > h2 {
    color: white;
}

.user-page > p {
    color: white;
}

@media (min-width: 768px) {
    .user-page {
        min-height: 100vh;
    }
}